.sr-card-header-compact {
  margin-bottom: 0;
}

.sr-card-title-flush {
  margin-bottom: 0;
}

.sr-button-row-flush {
  margin-top: 0;
}

.sr-card-header-running {
  margin-bottom: 0;
}
